.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.loader{
  width:20px;
  height: 20px;
  border-top: 2px solid blue;
  border-left: 2px solid blue;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
  margin: auto;
}
@keyframes rotate{
  100%{
    transform: rotate(360deg);
  }
}
.progressBarBackground
{
  width: 50%;
  margin: auto;
  background-color: gainsboro;
}
.progressBar{
  width: 50%;
  color: #fff;
  background-color: blueviolet;
}
.previewBox{
  margin-top: 20px;
  display: flex;
}
.file,.result
{
  display: inline-block;
  width: 40%;
  margin: auto 4%;
  height: 100%;
  overflow-y: auto;
}
.file img{
  width: 100%;
}
.btn {
  width: 100px;
  height: 30px;
  color: white;
  background-color: blue;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 5px black;
  margin-top: 10px;
}
.btn:hover{
  box-shadow: 0 0 10px black;
  cursor: pointer;
}